.habilidades {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	height: 500px;
}

.habilidades__titulo {
	background: var(--fundo-cartao);
	padding: 1em;
	display: flex;
	justify-content: center;
	text-align: center;
	color: var(--branco);
	font-size: 18px;
	border-bottom: 1px solid var(--bordas);
	border-top: 1px solid var(--bordas);
}

.card__container {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	border-radius: 15px;
	width: 175px;
	height: 250px;
	background-color: var(--fundo-cartao);
	border-top: 1px solid var(--bordas);
	border-left: 1px solid var(--bordas);
}

.card__container:hover .conteudo {
	transform: translateY(0px);
	opacity: 1;
	z-index: 1;
}

.card__container:hover .logo__icone {
	display: none;
}

.conteudo {
	transform: translateY(100px);
	opacity: 0;
	transition: 0.5s;
	padding: 1em;
	font-size: medium;
}

.conteudo p{
	font-size: 13px;
	font-weight: 300;
	padding: 1em;
}

.conteudo h2{
	padding: .5em;
	text-align: center;
	font-weight: 700;
}

.card__botao{
	display: flex;
	text-align: center;
	font-size: small;
	background: whitesmoke;
	color: black;
    text-decoration: none;
    border-radius: 20px;
	padding: 3px 5px;
}

.card {
	display: flex;
}

.logo__icone {
	display: flex;
	width: 85px;
	transform: translateX(68px);
}

.swiper {
	display: flex;
	width: 390px;
	height: 250px;
}

.swiper-slide {
	display: flex;
}

.swiper-wrapper {
	display: flex;
}

.swiper-button-prev,
.swiper-button-next {
	display: none;
}

.swiper-pagination {
	position: initial;
	margin: 0.5em 0;
}
