@import url("./reset.css");
@import url("./header.css");
@import url("./SobreMim.css");
@import url("./habilidades.css");
@import url("./projetos.css");
@import url("./contato.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css");

:root{
    --cinza-claro: #383535;
    --cinza: #201e1eec;
    --branco: #FFFFFF;
    --verde: #045319;
    --fundo-cartao: rgba(255, 255, 255, 0.1);
    --bordas: rgba(255, 255, 255, 0.5);
    --preto: (#000000);
}

body{
    font-family: 'Poppins', sans-serif;
    background: var(--cinza);
}

.rodape{
    width: 100%;
    color: var(--branco);
    padding: 1.5em;
    font-size: 13px;
}